<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en linea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Home</h1>
            <p>Bienvenidos a la página de la Tienda en línea...</p>
        </div>

        <p style="text-align: left">Lorem ipsum dolor sit amet consectetur adipiscing...</p>
        <p style="text-align: right">Morbi accumsan sapien metus lacinia dictumst lac...</p>
        <p style="text-align: center">Ultricies ornare pretium libero bibendum at to...</p>
        
        <!--texto pa ver si sí sirve usarlo en pc2 hola-->
        
        <br>
        <br>

        <p>Última línea</p>
    </body>
</html>
